@keyframes headeranim
{
0% {color: red;}
100% {color: yellow;}
}


body{
	width: 1000px;
	margin: 0 auto;
	background-image: url("../bg/images.jpg");
	background-repeat: no-repeat;
}

header{
	animation: headeranim 5s linear 2s infinite alternate;
	text-align: center;
	color: rgb(200,200,200);
	border-bottom: 2px silver solid;
}

header h1{
	text-shadow: 1px 1px 2px black;
	font-family: 'Wendy One', sans-serif;
	font-size: 35px;
}

.logoutBott{
	float: right;
	font-size: 12px;
}

.logoutBott:hover{
	float: right;
	font-size: 15px;
}

nav{
	font-family: 'Wendy One', sans-serif;
	margin-bottom: 5px;
	margin-left: 40px;
}

nav a{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	color: rgb(0,0,0);
}

nav a:hover{
	background: rgb(255,255,255);
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	color: rgb(100,100,255);
	border-radius: 2px;
}

.divBody{
	background: rgba(255,255,255,0.8);
	padding: 5px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px black;
}

section{
	height: 850px;
	width: 95%;
	overflow: auto;
}

section h2{
	font-family: sans-serif;
	font-size: 23px;
	padding: 15px;
	background: linear-gradient(to top, transparent 0%, black 120%);
	color: white;
	text-align: center;
	text-shadow: -2px 2px 2px black;
	border-radius: 10px 10px 0px 0px;
	margin-left: 30px;
}

footer{
	padding: 10px;
	text-align: center;
	font-family: 'Wendy One', sans-serif;
	border-top: 2px silver solid;
	color: gray;
}

.loginTable{
	font-family: sans-serif;
	margin: 0 auto;
	margin-top: 25%;
	padding: 60px;
	background-color: rgba(180,180,180,0.8);
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.viewTable{
	font-family: sans-serif;
	margin: 0 auto;
	overflow: auto;
	width: 80%;	
}

.tableHeader{
	font-family: inherit;
	font-size: 15px;
	background: linear-gradient(to top, transparent 0%, rgb(100,255,100) 100%);
	color: black;
	margin: 0 auto;
	width: 80%;	
	text-align: center;
}

.button{
	font-family: sans-serif;
	font-weight: bold;
	height: 30px;
	border-radius: 4px;
}

.button a{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-weight: bold;
}
